
#main-list {
    margin: 0;
    background-color: rgb(73, 94, 87);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    list-style: none;
    height: 250px;
}

#main-list img {
    height: 200px;
    margin: 0;
}

.second-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.header {
    padding-bottom:20px;
    font-size: 1.3rem
}

.items a{
    font-weight: 300;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #aaaaaa;
}

a:active {
      color: #ffffff;
}


@media (max-width: 774px) {
    .second-list 
    {
        display: none;
    }
    #main-list {
        background-color: rgb(73, 94, 87);
        background-image: url('../icons_assets/logo2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
    }
    body {
        background-color: rgb(73, 94, 87);
    }
}